footer {
  .last_lists {
    margin-top: 80px;
    padding-top: 20px;
    padding-bottom: 70px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #505f79;
    background-image: url(../assets/Container.png);
    background-repeat: no-repeat;
    background-size: 370px;
    background-position: top;

    @media screen and (min-width: 768px) {
      background-size: 1300px;
    }
  }

  @media screen and (min-width: 768px) {
    width: 100%;
  }
}
