@import "./variables";

header {
  background: $navbar-color;
  height: 90px;
  width: 100%;

  nav {
    height: 100%;
    align-items: center;
    justify-content: space-between;

    .logo {
      color: $white-text-color;
      font-family: "Roboto", sans-serif;
      font-weight: 700;
      font-size: 15px;
      font-style: normal;
      text-decoration: none;

      @media screen and (min-width: 768px) {
        font-size: 20px;
        padding: 0;
      }
    }

    .header_list {
      align-items: center;

      #check {
        display: none;

        @media screen and (min-width: 768px) {
          display: inline-block;
        }
      }

      .list {
        display: inline-block;
        margin: 0 5px;

        a {
          color: $white-text-color;
          font-size: 18px;
          text-decoration: none;

          &:hover {
            color: $primary-color;
          }
        }
      }
    }

    .burgeur {
      @media screen and (min-width: 768px) {
        display: none;
      }
    }
  }

  @media screen and (max-width: 767px) {
    padding-left: $padding-phones;
    padding-right: $padding-phones;
  }

  @media screen and (min-width: 768px) {
    padding-left: $padding-tablets;
    padding-right: $padding-tablets;
  }

  @media screen and (min-width: 769px) and  (max-width: 1280px) {
    padding-left: $padding-pc;
    padding-right: $padding-pc;
  }

  @media screen and (min-width: 1281px) {
    padding-left: $padding-large-screens;
    padding-right: $padding-large-screens;
  }
}
