$primary-color: #de7a22;
$secondary-color: #e97451;
$work-text-color: #1a1d4e;
$white-text-color: #f1f1f1;
$navbar-color: #3c3a39;

$padding-tablets: 60px;
$padding-pc: 120px;
$padding-large-screens: 360px;
$padding-phones: 30px;

