.work_section {
  background-color: #fff;
  padding: 0 30px;
  padding-bottom: 100px;
}
.work_section .work_head .title {
  color: #1c1a19;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  padding-top: 100px;
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .work_section .work_head .title {
    display: flex;
    margin-bottom: 0;
    align-items: center;
    padding: 0;
    color: #091e42;
    font-size: 40px;
    line-height: 52px;
  }
}
@media screen and (min-width: 768px) {
  .work_section .work_head .work_head_img {
    flex: 1;
    height: 2px;
    padding-top: 1px;
  }
}
@media screen and (min-width: 768px) {
  .work_section .work_head {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
}
.work_section .work1 {
  align-items: flex-start;
}
.work_section .work1 img {
  width: 100%;
  margin-top: 80px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .work_section .work1 img {
    width: 70%;
    height: 440px;
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .work_section .work1 img {
    width: 60%;
    height: 448px;
    margin-top: 0;
  }
}
.work_section .work1 .work1_head .work1_title {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  margin-top: 15px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .work_section .work1 .work1_head .work1_title {
    line-height: 52px;
    color: #091e42;
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .work_section .work1 .work1_head .work1_title {
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
    margin: 0;
  }
}
.work_section .work1 .work1_head .work1_text {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 15px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .work_section .work1 .work1_head .work1_text {
    line-height: 28px;
    color: #091e42;
  }
}
.work_section .work1 .work1_head .work1_list {
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 15px;
  gap: 12px;
}
.work_section .work1 .work1_head .work1_list li {
  margin-top: 10px;
  list-style-type: none;
  color: #091e42;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .work_section .work1 .work1_head {
    width: 45%;
  }
}
@media screen and (min-width: 1200px) {
  .work_section .work1 .work1_head {
    width: 30%;
  }
}
.work_section .work1 .work1_button {
  width: 40%;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .work_section .work1 .work1_button {
    width: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .work_section .work1 .work1_button {
    width: 40%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .work_section .work1 {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .work_section .work1 {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
  }
}
.work_section .works {
  display: grid;
  row-gap: 20px;
}
.work_section .works .work {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  background-image: url(../assets/Mask\ Group.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 450px;
  position: relative;
}
.work_section .works .work .work_title {
  padding-top: 100px;
  padding-left: 10px;
  color: #fff;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  width: 100%;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .work_section .works .work .work_title {
    font-size: 25px;
  }
}
.work_section .works .work .work_text {
  width: 250px;
  padding-top: 10px;
  padding-left: 10px;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .work_section .works .work .work_text {
    font-size: 14px;
    width: 200px;
  }
}
.work_section .works .work div .work_list {
  margin-top: 20px;
  padding-left: 10px;
  align-items: center;
  gap: 10px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .work_section .works .work div .work_list li button {
    width: 100%;
    font-size: 10px;
  }
}
.work_section .works .work .see_project {
  position: absolute;
  width: 100%;
  bottom: 0;
}
@media screen and (min-width: 768px) {
  .work_section .works .work:hover {
    background-image: url(../assets/lightbg.png);
    background-color: #fff;
  }
  .work_section .works .work:hover .work_title {
    display: none;
  }
  .work_section .works .work:hover .work_text {
    display: none;
  }
  .work_section .works .work:hover div {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .work_section .works {
    margin-top: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .work_section {
    flex-direction: column;
    margin-top: 50px;
    padding: 60px 60px;
    gap: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .work_section {
    flex-direction: column;
    padding: 60px 120px;
    margin-top: 50px;
    gap: 20px;
  }
}/*# sourceMappingURL=works.css.map */